.navbar-brand{
  color:#22bdb7b0;
  font-size: 30px;
}

.outfitLabel {
  color: black;
  font-size: 20px;
}

body {
  padding-top: 10px;
  padding-bottom: 20px;
}

.grid {
  margin-top: 50px;
  margin-bottom: 100px;
  display: grid;
  /* spacing between grid items */
  grid-gap: 50px;
  /* columns of grid that adjust to screen*/
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-auto-rows: 400px;
}

.outfit{
  width:100%;
  height: auto;
}

.btn{
  float:left;
  padding: 2px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.cart{
  padding: 3px 3px;
  text-align:center;
  top:5px;
  position: absolute;
  right:10px;
  align-items:center;
  background-color: #22bdb7b0;
}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 50px; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/*
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}*/

/* The actual popup (appears on top) */
/*.popup .popuptext {
    visibility: hidden;
    width: 500px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}*/

/* Popup arrow *//*
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class when clicking on the popup container (hide and show the popup) */
/*.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1ms;
    animation: fadeIn 1ms
}
*/
/* Add animation (fade in the popup) */
/*@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
*/
