.outfittitle{
  padding-left:350px;
}

.block_on_the_left {
    float:left;
    width: 430px;
    text-align: center;
    border: black 3px solid;
    height: 640px;
    margin-left: 350px;
    object-fit:cover
}

.block_on_the_left h2 {
  vertical-align:middle;
  text-align:center;
  line-height: 400px;
}

#container_on_the_right {
    float:left;
    width:auto;
    height:auto;
    padding:15px;
    margin-left: 100px;
    border: black 3px solid;
    margin-bottom: 20px;
}

.block2 {
    width:100%;
    height: 35%;

}
.block3 {
    width:100%;
    height:35%
}

#bottomitem{
    width:100%;
    height:30%
}

.info {
  width: 422px;
  margin-top: 50px;
  padding-bottom: 30px;
  text-align: left;
  border: black 3px solid;
  margin-bottom: 20px;
}

.size {
  margin: 10px;
  height: 35px;
  width: 60px;
}

.quantity{
  margin: 10px;
  height: 35px;
  width: 95px;
}

.floaters{
  display:inline-block;
}

.item{
  border: black 3px solid;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  width: 150px;
  height: 150px;
}

#wholecontainer {
  display: inline;
}

.addcart{
  display:block;
  height: 35px;
  width: 110px;
}
